*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:18px;
}

.image_container{
    display: flex;
}
.image_container img{
    width: 100%;
}

article{
    padding: 18px;
    box-shadow: 0px 0px 1px rgb(16, 16, 16);
}

/* media querys */
/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
@media (min-width:200px) and (max-width:900px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:18px;
    }
}

@media (min-width:769px) and (max-width:1025px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:18px;
    }
}